/* feuille de style */
body {
	margin-left: 0px;	
	margin-right: 0px;
	margin-top: 0px;
}

#cookies
{
	/*position:absolute;*/ /* cette partie cookies  est affichée q'uen début de page */
	position: fixed; /* cette partie cookies reste affichée en scrollant*/
	background-color :yellow;
	top: 0px;
	left: 0px;
	height: 50px;
}

#content
{
	height: 5000px;
	background-color: blue;
	padding-top: 50px;
}