/* feuille de style */

.fdblue{
	background-color:blue;
}

.fdred{
	background-color:red;
}

.fdgreen{
	background-color:green;
}
.fdorange{
	background-color:orange;
}
.fdpink{
	background-color:pink;
}